<div class="page-shop-jw-section__wrapper">
  <h2 class="page-shop-jw__ttl"><span>{{ section.settings.title }}</span></h2>
  <div class="page-shop-jw__list-wrapper">
    <ul class="page-shop-jw__list">
      {%- for block in section.blocks -%}
      <li class="page-shop-jw__list-item">
        <div class="page-shop-jw__image-wrap">
          <img class="page-shop-jw__image" src="{{ block.settings.shop-image | img_url: '300x' }}" alt="{{ block.settings.shop-title }}">
        </div>
        <h3 class="page-shop-jw__shop-name">{{ block.settings.shop-title }}</h3>
        <p class="page-shop-jw__shop-meta">{{ block.settings.shop-info }}</p>
      </li>
      {%- endfor -%}
    </ul>
  </div>
</div>


{% schema %}
{
  "name": "直営店",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "見出し",
      "default": "直営店"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "SHOP",
      "settings": [
        {
        "type": "image_picker",
        "id": "shop-image",
        "label": "店舗画像",
        "info": "表示縦横比は1:1"
        },
        {
        "type": "text",
        "id": "shop-title",
        "label": "店舗名",
        "info": "h3"
        },
        {
        "type": "textarea",
        "id": "shop-info",
        "label": "店舗情報",
        "info": "p"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "直営店",
      "category": "shop"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
