<div class="page-shop-jw-other-section__bg">
  <div class="page-shop-jw-other-section__wrapper">
    <h2 class="page-shop-jw-other__ttl"><span>{{ section.settings.title }}</span></h2>
    <div class="page-shop-jw-other__list-item">
      <div class="page-shop-jw-other__image-wrap">
        <img class="page-shop-jw-other__image" src="{{ section.settings.shop-image | img_url: '500x' }}" alt="{{ section.settings.shop-title }}">
      </div>
      <div class="page-shop-jw-other__info">
        <h3 class="page-shop-jw-other__shop-name">{{ section.settings.shop-title }}</h3>
        <p class="page-shop-jw-other__shop-meta">{{ section.settings.shop-info }}</p>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "その他の取り扱い店舗",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "見出し",
      "default": "その他の取り扱い店舗"
    },
    {
      "type": "image_picker",
      "id": "shop-image",
      "label": "店舗画像",
      "info": "表示縦横比は2:1"
    },
    {
      "type": "text",
      "id": "shop-title",
      "label": "店舗名",
      "info": "h3"
    },
    {
      "type": "textarea",
      "id": "shop-info",
      "label": "店舗情報",
      "info": "p"
    }
  ],
  "presets": [
    {
      "name": "その他取り扱い店舗",
      "category": "shop"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
